@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks

@{
    var MultiMedia = Model.Value<IEnumerable<BlockListItem>>("EventCarousel");
}

@if (MultiMedia != null)
{
    var i = 0;
    <div id="EventCarousel" class="carousel slide w-75 m-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in MultiMedia)
            {
                var content = item.Content;
                var Image = content.Value<IPublishedContent>("eventcarouselimage")?.Url() ?? "";
                <div class="carousel-item @(i==0 ? "active" : "")">
                    <img src="@Image" height="550" class="d-block w-100" alt="...">
                </div>
                i++;
            }
        </div>
    </div>    
}