@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var HeaderLogo = Model.Root()?.Value<IPublishedContent>("headerLogo")?.Url() ?? "";
}


<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-1 col-xs-12 logo">
        <a class="navbar-brand" href="#">
            <a href="/">
                @if (HeaderLogo != null)
                {
                    <img class="img" src="@HeaderLogo" title="logo" alt="logo" style="width:40px;"/>
                }
            </a>
        </a>
    </div>
    <div class="col-lg-4 col-xs-12 about-company">
      <h2>Heading</h2>
      <p class="pr-5 text-white-50">Events is a leading corporate event management company operating in India</p>
      <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Company</h4>
         @{
            var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
        }
        
        @if (selection?.Length > 0)
        {
          <ul class="m-0 p-0">
              @foreach (var item in selection)
                {
                    <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
                      <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
          </ul>
         }
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>801, 8th floor, Square 1, Binori B, BRTS road, Ambli, Ahmedabad, Gujarat 380058</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2024 Events Management Company. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>