@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;


@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var HeaderLogo = Model.Root()?.Value<IPublishedContent>("headerLogo")?.Url() ?? "";
}


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
            @if (HeaderLogo != null)
            {
                <img class="img" src="@HeaderLogo" title="logo" alt="logo" style="width:40px;"/>
            }
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        @{
            var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
        }
        
        @if (selection?.Length > 0)
        {
          <ul class="navbar-nav">
              @foreach (var item in selection)
                {
                    <li class="nav-item @(item.IsAncestorOrSelf(Model) ? "current" : null)">
                      <a class="nav-link" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
          </ul>
         }
    </div>
  </div>
</nav>