<?xml version="1.0" encoding="utf-8"?>
<Content Key="6350645f-96a5-42e2-9438-3eb32750042f" Alias="About" Level="2">
  <Info>
    <Parent Key="06f5d4d1-4f24-4cd7-a9ac-c011a188be98">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2024-01-12T15:42:50</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dadad88-06bf-4836-b09f-8938dd60a9f3">About</Template>
  </Info>
  <Properties>
    <profileList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/98d74d7958eb488d9eefe368c03e1086"
      },
      {
        "contentUdi": "umb://element/7f2f5e58413e45e4acbaa11645330621"
      },
      {
        "contentUdi": "umb://element/0d587de846bc439394bf1ea637e132ea"
      },
      {
        "contentUdi": "umb://element/e4d75d0bb4134206be0decc828aeda26"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1d8b0789-4d23-4a80-8db5-50ee6b2a5d85",
      "udi": "umb://element/7f2f5e58413e45e4acbaa11645330621",
      "employeeName": "Jane Doe",
      "jobTitle": "CEO & Founder",
      "description": "Some text that describes me lorem ipsum ipsum lorem 1.",
      "email": "jane@example.com",
      "profilePhoto": "[\r\n  {\r\n    \"key\": \"bdc678cd-8d43-44cf-928a-3904b54395af\",\r\n    \"mediaKey\": \"371a33c7-d2f1-4bbc-a8cb-c8279ccb7233\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "1d8b0789-4d23-4a80-8db5-50ee6b2a5d85",
      "udi": "umb://element/0d587de846bc439394bf1ea637e132ea",
      "employeeName": "Mike Ross",
      "jobTitle": "Art Director",
      "description": "Some text that describes me lorem ipsum ipsum lorem 2.",
      "email": "mike@example.com",
      "profilePhoto": "[\r\n  {\r\n    \"key\": \"815b691f-5dbf-4718-b24c-34114764fe0e\",\r\n    \"mediaKey\": \"a396ef5b-f042-4a1a-afb9-6a77342f6b91\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "1d8b0789-4d23-4a80-8db5-50ee6b2a5d85",
      "udi": "umb://element/e4d75d0bb4134206be0decc828aeda26",
      "employeeName": "John Doe",
      "jobTitle": "Designer",
      "description": "Some text that describes me lorem ipsum ipsum lorem 3.",
      "email": "john@example.com",
      "profilePhoto": "[\r\n  {\r\n    \"key\": \"50754abf-a058-4650-8e67-97b50d335786\",\r\n    \"mediaKey\": \"68a9eefe-d380-4c2a-a8e1-f765a850cce3\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "1d8b0789-4d23-4a80-8db5-50ee6b2a5d85",
      "udi": "umb://element/98d74d7958eb488d9eefe368c03e1086",
      "employeeName": "Super Vegito",
      "jobTitle": "Ruler",
      "description": "This is Super Vegito!!",
      "email": "supervegito@gmail.com",
      "profilePhoto": "[\r\n  {\r\n    \"key\": \"7320f5eb-1b16-491d-95d4-1adaff5444a2\",\r\n    \"mediaKey\": \"046d99f0-21e9-4560-8379-823838a2a9bd\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </profileList>
  </Properties>
</Content>