<?xml version="1.0" encoding="utf-8"?>
<Content Key="06f5d4d1-4f24-4cd7-a9ac-c011a188be98" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-01-04T15:28:35</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="193f0dd4-95d4-4000-9d60-a1e4fea03dd1">Home</Template>
  </Info>
  <Properties>
    <bannerHeading>
      <Value><![CDATA[]]></Value>
    </bannerHeading>
    <copyRightText>
      <Value><![CDATA[]]></Value>
    </copyRightText>
    <description>
      <Value><![CDATA[<p>Capital Radiology clinics are located throughout Victoria and Western Australia - we are here to support you with your medical imaging needs.</p>]]></Value>
    </description>
    <events>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4205d6bb5b1947128798df5467447d8e"
      },
      {
        "contentUdi": "umb://element/b7f5137c7f544c9ebc656e711c71b2df"
      },
      {
        "contentUdi": "umb://element/63c81d56c2184b56a95194e227996a39"
      },
      {
        "contentUdi": "umb://element/252741aa6f384ed5a1c42d058c8ced64"
      },
      {
        "contentUdi": "umb://element/53a27b656225469c86f6e34f12ec1163"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/4205d6bb5b1947128798df5467447d8e",
      "eventTitle": "Super Vegito",
      "eventMessage": "This is Super Vegito!! ",
      "eventDate": "2024-01-05T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/b7f5137c7f544c9ebc656e711c71b2df",
      "eventTitle": "Makar Sankranti",
      "eventMessage": "Let's color the sky with kite and take the celebration on the next level.",
      "eventDate": "2024-01-14T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/252741aa6f384ed5a1c42d058c8ced64",
      "eventTitle": "Republic Day",
      "eventMessage": "Republic Day is the day when the Republic of India marks and celebrates the date on which the Constitution of India came into effect on 26 January 1950.",
      "eventDate": "2024-01-26T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/63c81d56c2184b56a95194e227996a39",
      "eventTitle": "Makar Sankranti",
      "eventMessage": "Let's color the sky with kite and take the celebration on the next level. ",
      "eventDate": "2024-01-15T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/53a27b656225469c86f6e34f12ec1163",
      "eventTitle": "Dhuleti",
      "eventMessage": "Dhuleti. Dhuleti Holi, the Hindu festival marked by colors, fun and gaiety, falls on the day after full moon day in the month of Phalgun",
      "eventDate": "2024-03-25T00:00:00"
    }
  ],
  "settingsData": []
}]]></Value>
    </events>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "c364af62-ec67-4194-9334-b43dc29af51d",
    "mediaKey": "53f94d31-2358-486c-a0f4-1076728a3a13"
  }
]]]></Value>
    </headerLogo>
    <homeBannerImage>
      <Value><![CDATA[[]]]></Value>
    </homeBannerImage>
    <image>
      <Value><![CDATA[[
  {
    "key": "d3e9cd97-9f82-45ba-a4e2-f3288a949d94",
    "mediaKey": "00d99da7-5edb-4b3c-9bcf-de66b2f64f06"
  }
]]]></Value>
    </image>
    <imageAltText>
      <Value><![CDATA[Capitol Radiology]]></Value>
    </imageAltText>
    <link>
      <Value><![CDATA[/]]></Value>
    </link>
    <logoUrl>
      <Value><![CDATA[]]></Value>
    </logoUrl>
    <socialIcon>
      <Value><![CDATA[[]]]></Value>
    </socialIcon>
    <socialMediaIconList>
      <Value><![CDATA[]]></Value>
    </socialMediaIconList>
    <target>
      <Value><![CDATA[]]></Value>
    </target>
    <title>
      <Value><![CDATA[Welcome]]></Value>
    </title>
  </Properties>
</Content>