<?xml version="1.0" encoding="utf-8"?>
<Content Key="06f5d4d1-4f24-4cd7-a9ac-c011a188be98" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-01-04T15:28:35</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="193f0dd4-95d4-4000-9d60-a1e4fea03dd1">Home</Template>
  </Info>
  <Properties>
    <bannerHeading>
      <Value><![CDATA[Welcome fxgjgjg]]></Value>
    </bannerHeading>
    <contactUsLink>
      <Value><![CDATA[[
  {
    "name": "info@cluturalgroup.com.au",
    "url": "malto:info@cluturalgroup.com.au"
  },
  {
    "name": "(541) 754-3010",
    "url": "tel:(541) 754-3010"
  }
]]]></Value>
    </contactUsLink>
    <copyRightText>
      <Value><![CDATA[]]></Value>
    </copyRightText>
    <description>
      <Value><![CDATA[<p>Capital Radiology clinics are located throughout Victoria and Western Australia - we are here to support you with your medical imaging needs.</p>]]></Value>
    </description>
    <eventList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8c78dcfae079455cb51ed2dd16298ef6"
      },
      {
        "contentUdi": "umb://element/af6a8d2a1f4d4de38120dfe7e5e2a539"
      },
      {
        "contentUdi": "umb://element/e77a952c76b04d0881a8abb242901c4c"
      },
      {
        "contentUdi": "umb://element/323c1a0877bf41a7bad008421760160a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/8c78dcfae079455cb51ed2dd16298ef6",
      "eventTitle": "Super Vegito",
      "eventMessage": "This is Super Vegito!! ",
      "eventDate": "2024-01-11T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/af6a8d2a1f4d4de38120dfe7e5e2a539",
      "eventTitle": "Makar Sankranti",
      "eventMessage": "Let's color the sky with kite and take the celebration on the next level.",
      "eventDate": "2024-01-14T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/e77a952c76b04d0881a8abb242901c4c",
      "eventTitle": "Republic Day",
      "eventMessage": "Republic Day is the day when the Republic of India marks and celebrates the date on which the Constitution of India came into effect on 26 January 1950.",
      "eventDate": "2024-01-26T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/323c1a0877bf41a7bad008421760160a",
      "eventTitle": "Dhuleti",
      "eventMessage": "Dhuleti. Dhuleti Holi, the Hindu festival marked by colors, fun and gaiety, falls on the day after full moon day in the month of Phalgun",
      "eventDate": "2024-03-25T00:00:00"
    }
  ],
  "settingsData": []
}]]></Value>
    </eventList>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "d973f7bb-d0d6-4d19-9c65-8ed86ecc9951",
    "mediaKey": "53f94d31-2358-486c-a0f4-1076728a3a13"
  }
]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "c364af62-ec67-4194-9334-b43dc29af51d",
    "mediaKey": "53f94d31-2358-486c-a0f4-1076728a3a13"
  }
]]]></Value>
    </headerLogo>
    <homeBannerImage>
      <Value><![CDATA[[
  {
    "key": "590b965c-79df-4758-910b-9f706ee2bbcf",
    "mediaKey": "9806e13c-00d5-4d1a-b011-7ba15d9829d3"
  }
]]]></Value>
    </homeBannerImage>
    <image>
      <Value><![CDATA[[
  {
    "key": "d3e9cd97-9f82-45ba-a4e2-f3288a949d94",
    "mediaKey": "00d99da7-5edb-4b3c-9bcf-de66b2f64f06"
  }
]]]></Value>
    </image>
    <imageAltText>
      <Value><![CDATA[Capitol Radiology]]></Value>
    </imageAltText>
    <link>
      <Value><![CDATA[/]]></Value>
    </link>
    <logoUrl>
      <Value><![CDATA[]]></Value>
    </logoUrl>
    <socialIcon>
      <Value><![CDATA[[]]]></Value>
    </socialIcon>
    <socialMediaIconList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/23ae001682244344969423114cb2ccfd"
      },
      {
        "contentUdi": "umb://element/09ec8a76fddc4bb0aa933729fc73a846"
      },
      {
        "contentUdi": "umb://element/58e3ba7574164517b6de16013f139388"
      },
      {
        "contentUdi": "umb://element/a4135c853b744a02a7cfd969580c172b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/23ae001682244344969423114cb2ccfd",
      "socialMediaURL": "https://www.tiktok.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Tiktok",
      "image": "[\r\n  {\r\n    \"key\": \"2ffc3f6d-b86b-4eb9-aa82-46c025bb5f8b\",\r\n    \"mediaKey\": \"4d7a100f-508d-4501-935b-7b4e81cbaa66\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/09ec8a76fddc4bb0aa933729fc73a846",
      "socialMediaURL": "https://www.facebook.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Facebook",
      "image": "[\r\n  {\r\n    \"key\": \"bc1a7392-805b-4fad-88c2-4f4d20709b77\",\r\n    \"mediaKey\": \"f1306976-fea4-4b02-a495-844bdad69373\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/58e3ba7574164517b6de16013f139388",
      "socialMediaURL": "https://www.instagram.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Instagram",
      "image": "[\r\n  {\r\n    \"key\": \"91c8ba23-8509-45b5-9a65-768aacc58775\",\r\n    \"mediaKey\": \"90ae97a6-d7bd-40cc-a36e-0db6053f3180\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/a4135c853b744a02a7cfd969580c172b",
      "socialMediaURL": "https://in.linkedin.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "LinkedIn",
      "image": "[\r\n  {\r\n    \"key\": \"77bbaf7a-d9b7-44eb-a7e8-e5b2da4d9900\",\r\n    \"mediaKey\": \"be5213c9-47ab-4e26-aa4a-a26ab5e2ac66\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaIconList>
    <target>
      <Value><![CDATA[]]></Value>
    </target>
    <title>
      <Value><![CDATA[Welcome]]></Value>
    </title>
  </Properties>
</Content>