<?xml version="1.0" encoding="utf-8"?>
<Content Key="06f5d4d1-4f24-4cd7-a9ac-c011a188be98" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-01-04T15:28:35</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="193f0dd4-95d4-4000-9d60-a1e4fea03dd1">Home</Template>
  </Info>
  <Properties>
    <bannerHeading>
      <Value><![CDATA[Welcome fxgjgjg]]></Value>
    </bannerHeading>
    <companyEventsHistory>
      <Value><![CDATA[]]></Value>
    </companyEventsHistory>
    <contactUsLink>
      <Value><![CDATA[[
  {
    "name": "info@cluturalgroup.com.au",
    "url": "malto:info@cluturalgroup.com.au"
  },
  {
    "name": "(541) 754-3010",
    "url": "tel:(541) 754-3010"
  }
]]]></Value>
    </contactUsLink>
    <description>
      <Value><![CDATA[<p>Capital Radiology clinics are located throughout Victoria and Western Australia - we are here to support you with your medical imaging needs.</p>]]></Value>
    </description>
    <eventCarousel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cdce936d21b848af9f30fc36b0dbf75b"
      },
      {
        "contentUdi": "umb://element/2a84cb9ab16c4a8095b56effc6dc292e"
      },
      {
        "contentUdi": "umb://element/a6a59943277b413d89bb42e65d061c6d"
      },
      {
        "contentUdi": "umb://element/2edc9c7ff67e4e8b8c1b31cd85cefd68"
      },
      {
        "contentUdi": "umb://element/b186560017cf4e09a77333e1e3ffdde1"
      },
      {
        "contentUdi": "umb://element/198e339b95c24839879acbcae4ab4f98"
      },
      {
        "contentUdi": "umb://element/f9c264ae49a34a30897aae186ba4258c"
      },
      {
        "contentUdi": "umb://element/4b9fb18272cb4581bcf4e0707979e439"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/cdce936d21b848af9f30fc36b0dbf75b",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"bf325638-a357-4c4b-afe1-2f334d05177e\",\r\n    \"mediaKey\": \"79bb5212-e230-43a5-b03f-db966389fd04\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/2a84cb9ab16c4a8095b56effc6dc292e",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"4645629e-574b-46ed-9c7e-e3e1be5b6d4f\",\r\n    \"mediaKey\": \"6ccc749e-4973-4fec-b840-e1fc644edecb\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/a6a59943277b413d89bb42e65d061c6d",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"2ebb938f-250a-4d55-bc94-c7b3682e4bd0\",\r\n    \"mediaKey\": \"29ea4f10-5faa-46ed-8c95-486dbd1c4b20\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/2edc9c7ff67e4e8b8c1b31cd85cefd68",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"20f26e1f-3397-478f-ac9c-317362b17c4c\",\r\n    \"mediaKey\": \"eb032831-b327-472c-be2c-c4102a4ba628\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/b186560017cf4e09a77333e1e3ffdde1",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"c282f52a-4275-41f2-8ee1-97d43258b93d\",\r\n    \"mediaKey\": \"9172f6f2-3524-4f83-a343-fb025cad4d8b\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/198e339b95c24839879acbcae4ab4f98",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"19b071bb-fc31-462b-8c98-3f6c30b10231\",\r\n    \"mediaKey\": \"4956edba-279a-4ed5-aeb7-c995ded41edd\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/f9c264ae49a34a30897aae186ba4258c",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"a4c73c26-ca66-4cc8-b3c0-8210e5035538\",\r\n    \"mediaKey\": \"c5a94c93-9ee2-4886-b884-e22a2916fc08\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c2f7c28c-3ea1-4718-8c4e-e5e06acfd056",
      "udi": "umb://element/4b9fb18272cb4581bcf4e0707979e439",
      "eventCarouselImage": "[\r\n  {\r\n    \"key\": \"52959ea3-c63a-460d-8e11-d11a2436e9df\",\r\n    \"mediaKey\": \"55ebb9fd-5873-4321-87d5-9b2c503599e7\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </eventCarousel>
    <eventDetails>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b6f70db4d6ef46da94e4a5d068fdae71",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/92fdc79352ef48f48f8dc27438dde3d3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ],
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31c5b256c08e417292d46ec7927c49a7"
      },
      {
        "contentUdi": "umb://element/bc09ce2632e0472c93dcf5104c1adc8f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "419deb8c-b177-4ebc-830a-7e3f54ad2bc1",
      "udi": "umb://element/31c5b256c08e417292d46ec7927c49a7",
      "image": "[\r\n  {\r\n    \"key\": \"59ede5b9-04a6-4727-8e81-4297a2bd98b4\",\r\n    \"mediaKey\": \"33f9cc88-006a-461e-8c89-a69ad54df3d6\"\r\n  }\r\n]",
      "eventTitle": "[{\"name\":\"Home\",\"udi\":\"umb://document/06f5d4d14f244cd7a9acc011a188be98\"}]",
      "heading": "Twin Day",
      "description": "<p>Created Twin day!!!1</p>"
    },
    {
      "contentTypeKey": "419deb8c-b177-4ebc-830a-7e3f54ad2bc1",
      "udi": "umb://element/bc09ce2632e0472c93dcf5104c1adc8f",
      "image": "[\r\n  {\r\n    \"key\": \"0406f621-6cda-46b1-a6e5-adc5586aa9f8\",\r\n    \"mediaKey\": \"c66f44b6-3a8c-46a0-97b1-b71ede008e58\"\r\n  }\r\n]",
      "eventTitle": "[{\"name\":\"Home\",\"udi\":\"umb://document/06f5d4d14f244cd7a9acc011a188be98\"}]",
      "heading": "Cultural Activiy",
      "description": "<p>Welcome To IPS</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </eventDetails>
    <eventList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8c78dcfae079455cb51ed2dd16298ef6"
      },
      {
        "contentUdi": "umb://element/af6a8d2a1f4d4de38120dfe7e5e2a539"
      },
      {
        "contentUdi": "umb://element/e77a952c76b04d0881a8abb242901c4c"
      },
      {
        "contentUdi": "umb://element/323c1a0877bf41a7bad008421760160a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/8c78dcfae079455cb51ed2dd16298ef6",
      "eventTitle": "Super Vegito",
      "eventMessage": "This is Super Vegito!! ",
      "eventDate": "2024-01-13T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/af6a8d2a1f4d4de38120dfe7e5e2a539",
      "eventTitle": "Makar Sankranti",
      "eventMessage": "Let's color the sky with kite and take the celebration on the next level.",
      "eventDate": "2024-01-14T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/e77a952c76b04d0881a8abb242901c4c",
      "eventTitle": "Republic Day",
      "eventMessage": "Republic Day is the day when the Republic of India marks and celebrates the date on which the Constitution of India came into effect on 26 January 1950.",
      "eventDate": "2024-01-26T00:00:00"
    },
    {
      "contentTypeKey": "594633af-6e18-41b9-9760-69aacf5ceae7",
      "udi": "umb://element/323c1a0877bf41a7bad008421760160a",
      "eventTitle": "Dhuleti",
      "eventMessage": "Dhuleti. Dhuleti Holi, the Hindu festival marked by colors, fun and gaiety, falls on the day after full moon day in the month of Phalgun",
      "eventDate": "2024-03-25T00:00:00"
    }
  ],
  "settingsData": []
}]]></Value>
    </eventList>
    <eventUrl>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/06f5d4d14f244cd7a9acc011a188be98"
  }
]]]></Value>
    </eventUrl>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "d973f7bb-d0d6-4d19-9c65-8ed86ecc9951",
    "mediaKey": "53f94d31-2358-486c-a0f4-1076728a3a13"
  }
]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "c364af62-ec67-4194-9334-b43dc29af51d",
    "mediaKey": "53f94d31-2358-486c-a0f4-1076728a3a13"
  }
]]]></Value>
    </headerLogo>
    <heading>
      <Value><![CDATA[Twin Day]]></Value>
    </heading>
    <historyImage>
      <Value><![CDATA[[]]]></Value>
    </historyImage>
    <homeBannerImage>
      <Value><![CDATA[[
  {
    "key": "d12a2c24-89f1-4f65-8445-28af25348fbe",
    "mediaKey": "bb05c52c-5b88-47d8-ba0a-abb0d25c7d4b"
  }
]]]></Value>
    </homeBannerImage>
    <image>
      <Value><![CDATA[[
  {
    "key": "d3e9cd97-9f82-45ba-a4e2-f3288a949d94",
    "mediaKey": "00d99da7-5edb-4b3c-9bcf-de66b2f64f06"
  }
]]]></Value>
    </image>
    <imageAltText>
      <Value><![CDATA[Capitol Radiology]]></Value>
    </imageAltText>
    <link>
      <Value><![CDATA[/]]></Value>
    </link>
    <location>
      <Value><![CDATA[801, 8th floor, Square 1, Binori B, BRTS road, Ambli, Ahmedabad, Gujarat 380058]]></Value>
    </location>
    <logoUrl>
      <Value><![CDATA[]]></Value>
    </logoUrl>
    <sliderIcon1>
      <Value><![CDATA[[]]]></Value>
    </sliderIcon1>
    <sliderIcon2>
      <Value><![CDATA[[]]]></Value>
    </sliderIcon2>
    <socialMediaIconList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/23ae001682244344969423114cb2ccfd"
      },
      {
        "contentUdi": "umb://element/09ec8a76fddc4bb0aa933729fc73a846"
      },
      {
        "contentUdi": "umb://element/58e3ba7574164517b6de16013f139388"
      },
      {
        "contentUdi": "umb://element/a4135c853b744a02a7cfd969580c172b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/23ae001682244344969423114cb2ccfd",
      "socialMediaURL": "https://www.tiktok.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Tiktok",
      "image": "[\r\n  {\r\n    \"key\": \"549fe5a3-3d07-4d65-ba22-b8a925c9e6e6\",\r\n    \"mediaKey\": \"a2ba063c-98bc-4efb-beab-e8f70a322bdf\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/09ec8a76fddc4bb0aa933729fc73a846",
      "socialMediaURL": "https://www.facebook.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Facebook",
      "image": "[\r\n  {\r\n    \"key\": \"bc1a7392-805b-4fad-88c2-4f4d20709b77\",\r\n    \"mediaKey\": \"f1306976-fea4-4b02-a495-844bdad69373\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/58e3ba7574164517b6de16013f139388",
      "socialMediaURL": "https://www.instagram.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "Instagram",
      "image": "[\r\n  {\r\n    \"key\": \"91c8ba23-8509-45b5-9a65-768aacc58775\",\r\n    \"mediaKey\": \"90ae97a6-d7bd-40cc-a36e-0db6053f3180\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c097905b-e741-4f06-ac4f-d151807a96f0",
      "udi": "umb://element/a4135c853b744a02a7cfd969580c172b",
      "socialMediaURL": "https://in.linkedin.com/",
      "target": "[\"_blank\"]",
      "tooltipText": "LinkedIn",
      "image": "[\r\n  {\r\n    \"key\": \"c04aaa95-12dc-4f64-906c-0b260a924072\",\r\n    \"mediaKey\": \"ec3df54a-899e-481b-bb2d-caf43816f8f5\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaIconList>
    <subHeading>
      <Value><![CDATA[Days of December ]]></Value>
    </subHeading>
    <title>
      <Value><![CDATA[Welcome]]></Value>
    </title>
  </Properties>
</Content>