<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec8f3b57-30c7-42fe-88ed-33c52e50ff9f" Alias="Test" Level="2">
  <Info>
    <Parent Key="06f5d4d1-4f24-4cd7-a9ac-c011a188be98">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2024-01-05T15:33:56</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d99ba7b1-d6f5-405e-9d66-6bd1d6296f6f">Test</Template>
  </Info>
  <Properties>
    <eventDate>
      <Value><![CDATA[]]></Value>
    </eventDate>
    <eventMessage>
      <Value><![CDATA[]]></Value>
    </eventMessage>
    <eventTitle>
      <Value><![CDATA[]]></Value>
    </eventTitle>
  </Properties>
</Content>