<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a5f3792-ff25-407a-9c45-86c977495a2f" Alias="test" Level="2">
  <Info>
    <Name>Test</Name>
    <Icon>icon-lab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="594633af-6e18-41b9-9760-69aacf5ceae7">events</Composition>
    </Compositions>
    <DefaultTemplate>Test</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d99ba7b1-d6f5-405e-9d66-6bd1d6296f6f">Test</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>