<?xml version="1.0" encoding="utf-8"?>
<Media Key="c68e739c-c29d-4586-9422-a2b81014894c" Alias="Banner 2143661 1280" Level="2">
  <Info>
    <Parent Key="ca309af0-d76c-43d7-893f-0e24490bf6bb">Master</Parent>
    <Path>/Master/Banner21436611280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T17:20:50</CreateDate>
    <NodeName Default="Banner 2143661 1280" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tjzj3ru3/banner-2143661_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>