<?xml version="1.0" encoding="utf-8"?>
<Media Key="53f94d31-2358-486c-a0f4-1076728a3a13" Alias="Eicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Eicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-05T14:02:33</CreateDate>
    <NodeName Default="Eicon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g3gpsu0y/eicon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>