<?xml version="1.0" encoding="utf-8"?>
<Media Key="9172f6f2-3524-4f83-a343-fb025cad4d8b" Alias="Image 2024 01 23T12 32 42 317Z (1)" Level="2">
  <Info>
    <Parent Key="ca309af0-d76c-43d7-893f-0e24490bf6bb">Master</Parent>
    <Path>/Master/Image20240123T123242317Z1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T18:03:54</CreateDate>
    <NodeName Default="Image 2024 01 23T12 32 42 317Z (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4t1hfeje/image_2024_01_23t12_32_42_317z-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>