<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb032831-b327-472c-be2c-c4102a4ba628" Alias="Image 2024 01 23T12 32 54 000Z" Level="2">
  <Info>
    <Parent Key="ca309af0-d76c-43d7-893f-0e24490bf6bb">Master</Parent>
    <Path>/Master/Image20240123T123254000Z</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T18:03:54</CreateDate>
    <NodeName Default="Image 2024 01 23T12 32 54 000Z" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g2uah0zh/image_2024_01_23t12_32_54_000z.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>