<?xml version="1.0" encoding="utf-8"?>
<Media Key="4956edba-279a-4ed5-aeb7-c995ded41edd" Alias="Image 2024 01 23T12 32 26 620Z" Level="2">
  <Info>
    <Parent Key="ca309af0-d76c-43d7-893f-0e24490bf6bb">Master</Parent>
    <Path>/Master/Image20240123T123226620Z</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T18:03:54</CreateDate>
    <NodeName Default="Image 2024 01 23T12 32 26 620Z" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xtwfmsm0/image_2024_01_23t12_32_26_620z.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>