<?xml version="1.0" encoding="utf-8"?>
<Media Key="00d99da7-5edb-4b3c-9bcf-de66b2f64f06" Alias="IMG 0419" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG0419</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-05T18:04:18</CreateDate>
    <NodeName Default="IMG 0419" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ugonsag1/img_0419.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>