<?xml version="1.0" encoding="utf-8"?>
<Media Key="29ea4f10-5faa-46ed-8c95-486dbd1c4b20" Alias="IPS Secret Santa" Level="2">
  <Info>
    <Parent Key="ca309af0-d76c-43d7-893f-0e24490bf6bb">Master</Parent>
    <Path>/Master/IPSSecretSanta</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T17:57:46</CreateDate>
    <NodeName Default="IPS Secret Santa" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/czhpuknk/ips-secret-santa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>