<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf3095d6-d662-4f6b-a5bd-35bbd0463f13" Alias="IPS10" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IPS10</Path>
    <Trashed Parent="ca309af0-d76c-43d7-893f-0e24490bf6bb">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T18:00:54</CreateDate>
    <NodeName Default="IPS10" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ckdbt1c/ips10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>