<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aee55b9-3140-4d2b-b65b-3273df727d78" Alias="IPS6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IPS6</Path>
    <Trashed Parent="ca309af0-d76c-43d7-893f-0e24490bf6bb">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-23T18:00:52</CreateDate>
    <NodeName Default="IPS6" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x3kp3gsa/ips6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>