<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca309af0-d76c-43d7-893f-0e24490bf6bb" Alias="Master" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Master</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-01-23T17:20:30</CreateDate>
    <NodeName Default="Master" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>