<?xml version="1.0" encoding="utf-8"?>
<Media Key="046d99f0-21e9-4560-8379-823838a2a9bd" Alias="Vegito Blue" Level="2">
  <Info>
    <Parent Key="589fdee8-6760-4245-b87c-6f5e63a4e1fb">Person</Parent>
    <Path>/Person/VegitoBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-12T17:27:46</CreateDate>
    <NodeName Default="Vegito Blue" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/40mh0bhj/vegito-blue.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>