body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
}

.footer {
    background: rgb(33, 37, 41);
    color: white;
}

    .footer .links ul {
        list-style-type: none;
    }

    .footer .links li a {
        color: gray;
        transition: color .2s;
        text-decoration: none;
    }

        .footer .links li a:hover {
            color: white;
        }

.social-media-icon {
    width: 40px;
    height: 40px;
}

.contact_info a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.homePageBanner {
    text-align: center;
    width: 100%;
    padding: 20px 20px;
    background-color: #fad634;
    margin-top: 64px;
}
.bannerTitle {
    font-weight: 700;
}

.profile {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.innerProfile {
    padding: 0 16px;
}

    .innerProfile::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: grey;
}

.profile-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .profile-button:hover {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .profile {
        width: 100%;
        display: block;
    }
}

.announcement_sec {
    padding: 0 0 75px;
}

    .announcement_sec a {
        text-decoration: none;
    }

.announce_title {
    margin: 0 0 9px;
    font-size: 14px;
    color: #217bc6;
    font-weight: 600;
    line-height: normal;
}

.row.post_row {
    margin-left: -8px;
    margin-right: -8px;
}

.post_img {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.post_info {
    padding: 23px 0;
}

    .post_info h3 {
        font-size: 16px;
        font-weight: 500;
        color: #2B2B2B;
        margin: 0 0 10px;
    }

        .post_info h3 a {
            color: #2B2B2B;
            font-weight: bolder;
        }

    .post_info p {
        font-size: 15px;
        font-weight: 300;
        color: #2B2B2B;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

@media (max-width: 1199px) .post_img {
    height: 245px;
}

.page_head p, p {
    line-height: 22px;
}

.visit-country {
    margin-top: 120px;
}

.section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: left;
}

.visit-country .item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

    .visit-country .item .image img {
        border-radius: 23px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .visit-country .item .right-content h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .visit-country .item .right-content .main-button {
        right: 0;
        top: 0;
    }

.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #22b3c1;
    border: 1px solid #22b3c1;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

.visit-country .item .right-content p {
    margin: 18px 0px;
}

.event_des {
    font-size: 15px !important;
    line-height: 30px !important;
    color: #afafaf !important;
}

.visit-country .item .right-content .text-button {
    margin-top: 20px;
}

.text-button a {
    color: #22b3c1;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none !important;
}